.wrap{
    margin: 0 5rem 1rem 5rem;
    display:flex;
    justify-items: center;
    border: 0px ;
}

@media only screen and (max-width: 1000px) {
    .wrap{
        margin: 0 3rem 1rem 3rem;
        flex-direction: column;
        align-items: center;
        
    }
}
