.wrapper{
    padding: 0px;
    display:grid;
    grid-gap: 0;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.connect{           
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 1px;
    justify-content: center;
    color: #fff;
    background-color: #006E6D;
    background-repeat: no-repeat;
}


.heading {
    font-size: 2.8rem;
}
.cont{
    font-family: 'Avenir';
    font-weight: 900;
}

.connect-btn{
    font-family: 'Avenir';
    background-color: #fff;
    width: 8rem;
    height: 2.7rem;
    font-size: 20px;
    font-weight: 600;
    transition: all .2s ease;
    color: #006E6D;
    outline: none;
    border: 0;
}       

.connect-btn:hover{
    font-family: 'Avenir';
    cursor: pointer;
    background-color: #f3f3f3;
    color: rgb(0, 0, 0);
}

.knowmore{
    font-family: 'Gilroy';
    width: 100%;
    padding: 60px 40px;
    // max-width: 700px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 1px;
    // border: 20px solid #fff;
    background-size: 20% 40%;
    background-position: top right;
    background-repeat: no-repeat;
}

.info{
    font-family: 'Gilroy';
    font-size: 1.5rem;
}

.know-btn{
    font-family: 'Gilroy';
    background-color: #006E6D;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    transition: all .2s ease;
    color: #fff;
    outline: none;
    border: 0;
}    

.know-btn:hover{
    cursor: pointer;
}  


@media only screen and (max-width: 1000px) {
    .info{
        font-family: 'Gilroy';
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 800px) {
    .connect{
        padding: 5rem  0px;
    }   
}


@media only screen and (max-width: 600px) {
    .connect{
        padding: 4rem  0px;
    }
      
    .knowmore{
        padding: 50px 20px;
    }
}